<div *ngIf = "!(authService.getUser()|async)">
    <h2>Welcome</h2>
    You need to login or sign-up
</div>

<div *ngIf = "(authService.getUser()|async)">
    <h2>Welcome:{{email}}</h2>
    Logged in successfully
</div>
