<table mat-table [dataSource]="students" class="mat-elevation-z8">
    
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>name</th>
        <td mat-cell *matCellDef="let element; let i=index"> {{element.name}} </td>
      </ng-container>
  
    <!-- math Column -->
    <ng-container matColumnDef="math">
      <th mat-header-cell *matHeaderCellDef>math</th>
      <td mat-cell *matCellDef="let element; let i=index"> {{element.math}} </td>
    </ng-container>

    <!-- psych Column -->
    <ng-container matColumnDef="psych">
      <th mat-header-cell *matHeaderCellDef> psych </th>
      <td mat-cell *matCellDef="let element;let i=index"> {{element.psych}} </td>
    </ng-container>
  
    <!-- pay Column -->
    <ng-container matColumnDef="pay">
      <th mat-header-cell *matHeaderCellDef> pay </th>
      <td mat-cell *matCellDef="let element;let i=index"> {{element.pay}} </td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> email </th>
        <td mat-cell *matCellDef="let element;let i=index"> {{element.email}} </td>
      </ng-container>

    <!-- time Column -->
    <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> time </th>
        <td mat-cell *matCellDef="let element;let i=index"> {{element.time}} </td>
      </ng-container>


  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
