<p *ngIf = "!(authService.getUser()|async)">You are not logged in</p>
<div>
  <button mat-raised-button color = "primary" (click) = "addStudentFormOpen = !addStudentFormOpen">Add Student</button>
</div>
<div>
  <studentform *ngIf = "addStudentFormOpen"
  (update) = "add($event);addStudentFormOpen = false"
  (closeEdit) = "addStudentFormOpen = false"
  [formType] = "'Add Student'"
  >
  </studentform>
</div>
<mat-accordion *ngIf = "(authService.getUser()|async)">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let student of students;let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
         {{student.name}}
        </mat-panel-title>
        <mat-panel-description>
            <span  [ngClass]="[student.result=='finish' ? 'green' : 'red']">{{student.result}}</span>
            
          </mat-panel-description>
    <button mat-raised-button color="warn" (click)="deleteStudent(student.id)">Delete</button>
      </mat-expansion-panel-header>
      <p><b>Math: </b> {{student.math}}</p>
      <p><b>Psych: </b> {{student.psych}}</p>
      <p><b>Payment: </b> {{student.pay}}</p>

      <!---<button mat-raised-button color="primary" (click)="predict(i)">Predict</button>-->
      <button 
      *ngIf = "i!=rowToPredict"
      mat-raised-button
      color = "primary"
      (click) = "moveToPredictState(i)"
    >
      PREDICT
    </button> 
    <button 
      *ngIf = "i==rowToPredict"
      mat-raised-button
      color="primary"
      (click) = "predict(i)"
    >
    Predict Student
    </button> 
    <button 
      *ngIf = "i==rowToPredict"
      mat-raised-button
      (click) = "rowToPredict = null"
    >
      Cancel
    </button> 

      <button *ngIf = "student.result&&!student.saved" mat-raised-button color="primary"(click) = "updateResult(i)">Save</button>

      <button mat-raised-button disabled *ngIf = "student.saved">saved</button> 

    </mat-expansion-panel>
  </mat-accordion>