<mat-card>
  <h1>{{formType}}</h1>
  <form #studentform="ngForm">
    <div class="example-container">
      <p>
          <mat-form-field appearance="standard">
            <mat-label>Name</mat-label>
            <input matInput 
              [(ngModel)] = "name"
              name = "name"
              required>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="standard">
            <mat-label>Math Grade</mat-label>
            <input matInput 
              [(ngModel)] = "math"
              name = "math"
              type = "number"
              min = "0"
              max = "100"
              required>
          </mat-form-field>
        </p>
        <!---<mat-error><p *ngIf = "isError">math grade should be between 0 to 100</p></mat-error>-->
        <p>
          <mat-form-field appearance="standard">
              <mat-label>Psych Grade</mat-label>
              <input matInput 
                [(ngModel)] = "psych"
                name = "psych"
                type = "number"
                min = "0"
                max = "800"
                required>
            </mat-form-field>
          </p>
          <!---<mat-error><p *ngIf = "isError">psych grade should be between 0 to 800</p></mat-error>-->
          <p>
          <mat-form-field appearance="standard">
            <mat-label>Payment</mat-label>
            <input matInput 
              [(ngModel)] = "pay"
              name = "pay"
              type = "boolean"
              required>
          </mat-form-field>
        </p>
      <div>
          <button mat-raised-button (click) = "tellParentToClose()">
              Cancel
          </button>
          <button mat-raised-button color="primary" (click) = "updateParent()"  [disabled]="!studentform.form.valid">
            {{formType}}
          </button>
      </div>
    </div>
  </form>
  <br>
  <mat-error><p *ngIf = "isError">ERROR: math grade should be between 0-100 OR psych grade should be between 0-800</p></mat-error>
</mat-card>
  
